:root {
    --principal1: #6c2432;
    --principal2: #ffada6;
    --principal3: #ffe4e1;
    --aux1: #f9e3ec;
    --aux2: #cd5c5c;
    --aux3:#fff2f1;
    --botones: #f54275;
    --btnhover: #ff7ba7;
    --btnwhite: #ffffff;
}